/node_modules
package-lock.json
/bower_components
/web
/themes
/src/lib

/hybrid/node_modules
/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.db
nbproject/project.xml
nbproject/project.properties
nbproject/private/private.xml
nbproject/private/private.properties
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/.jsdtscope
.project
